@layout.base({ title: "Our events",
"description":"discover all events in your area or online", })




<h1>Our events</h1>
<p>discover all events in your area or online</p>
<section class="flex flex-wrap justify-center mx-auto">
    @each(item in events)
        
    
    @include('components/card')
    @end
</section>
@end









